<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314529651060-u0fhl16i3bbkpmtvn8l1ej5e2ttnbjr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314529651060-u0fhl16i3bbkpmtvn8l1ej5e2ttnbjr3</string>
	<key>API_KEY</key>
	<string>AIzaSyBUElPZGM6BVal-EgAN-OInjEZmxUZDhpA</string>
	<key>GCM_SENDER_ID</key>
	<string>314529651060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prerak.agroIt</string>
	<key>PROJECT_ID</key>
	<string>agroit-4a814</string>
	<key>STORAGE_BUCKET</key>
	<string>agroit-4a814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314529651060:ios:9410e6646020509efd3421</string>
</dict>
</plist>